---
const { Icon, label, notshow } = Astro.props;
---

<button
  class={`${notshow} cursor-pointer items-center justify-center gap-2 rounded-3xl border-2 border-[#6c6c6c] px-4 py-2 text-white transition-colors hover:bg-white/10 md:flex`}
  title={label}
>
  <div class="aspect-square w-3 lg:w-5">
    <Icon class="h-full w-full" />
  </div>
  <span class="font-sans text-[10px] text-white md:text-xs lg:text-sm">
    {label}
  </span>
</button>
